<%- include('partials/header') %>
    <style type="text/css">
        body {
            margin-top: 0;
            margin-left: 0;
        }

        #page_1 {
            position: relative;
            overflow: hidden;
            margin: 11px 0px 35px 24px;
            padding: 0;
            border: none;
            width: 792px;
        }

        #page_1 #id1_1 {
            border: none;
            margin: 0 0 0 115px;
            padding: 0;
            border: none;
            width: 677px;
            overflow: hidden;
        }

        #page_1 #id1_2 {
            border: none;
            margin: 2px 0 0 33px;
            padding: 0;
            border: none;
            width: 759px;
            overflow: hidden;
        }

        #page_1 #id1_2 #id1_2_1 {
            float: left;
            border: none;
            margin: 0;
            padding: 0;
            border: none;
            width: 603px;
            overflow: hidden;
        }

        #page_1 #id1_2 #id1_2_2 {
            float: left;
            border: none;
            margin: 82px 0 0 0;
            padding: 0;
            border: none;
            width: 156px;
            overflow: hidden;
        }

        #page_1 #id1_3 {
            border: none;
            margin: 85px 0 0 0;
            padding: 0;
            border: none;
            width: 769px;
            overflow: hidden;
        }

        #page_1 #p1dimg1 {
            position: absolute;
            top: -20px;
            left: -20px;
            z-index: -1;
            width: 785px;
            height: 405px;
        }

        #page_1 #p1dimg1 #p1img1 {
            width: 785px;
            height: 405px;
            margin-top: -4%;
        }

        #page_2 {
            position: relative;
            overflow: hidden;
            margin: 63px 0 63px 24px;
            padding: 0;
            border: none;
            width: 792px;
        }

        #page_2 #p2dimg1 {
            position: absolute;
            top: 455px;
            left: 16px;
            z-index: -1;
            width: 731px;
            height: 294px;
        }

        #page_2 #p2dimg1 #p2img1 {
            width: 731px;
            height: 294px;
        }

        #page_3 {
            position: relative;
            overflow: hidden;
            margin: 68px 0 63px 0;
            padding: 0;
            border: none;
            width: 816px;
        }

        #page_3 #p3dimg1 {
            position: absolute;
            top: 38px;
            left: 40px;
            z-index: -1;
            width: 736px;
            height: 297px;
        }

        #page_3 #p3dimg1 #p3img1 {
            width: 736px;
            height: 297px;
        }

        #page_4 {
            position: relative;
            overflow: hidden;
            margin: 0px 0 63px 0;
            padding: 0;
            border: none;
            width: 816px;
        }

        #page_5 {
            position: relative;
            overflow: hidden;
            margin: 49px 0 63px 0;
            padding: 0;
            border: none;
            width: 816px;
        }

        .ft0 {
            font: bold 30px "Times New Roman";
            color: #17365d;
            line-height: 28px;
        }

        .ft1 {
            font: bold 13px "Times New Roman";
            color: #17365d;
            line-height: 15px;
        }

        .ft2 {
            font: 13px "Times New Roman";
            color: #17365d;
            line-height: 15px;
        }

        .ft3 {
            font: 14px "Times New Roman";
            color: #17365d;
            line-height: 16px;
        }

        .ft4 {
            font: 14px "Times New Roman";
            text-decoration: underline;
            color: #17365d;
            line-height: 16px;
        }

        .ft5 {
            font: bold 17px "Times New Roman";
            line-height: 22px;
        }

        .ft6 {
            font: bold 24px "Times New Roman";
            line-height: 26px;
        }

        .ft7 {
            font: italic bold 13px "Times New Roman";
            line-height: 16px;
        }

        .ft8 {
            font: 15px "Times New Roman";
            color: #17365d;
            line-height: 17px;
        }

        .ft9 {
            font: 16px "Times New Roman";
            color: #002060;
            line-height: 19px;
        }

        .ft10 {
            font: italic 16px "Times New Roman";
            color: #002060;
            line-height: 19px;
        }

        .ft11 {
            font: 15px "Times New Roman";
            line-height: 17px;
        }

        .ft12 {
            font: 15px Arial;
            color: #222;
            background-color: #fff;
            line-height: 17px;
        }

        .ft13 {
            font: 1px "Times New Roman";
            line-height: 1px;
        }

        .ft14 {
            font: 16px "Times New Roman";
            color: #d9d9d9;
            line-height: 19px;
        }

        .ft15 {
            font: 1px "Times New Roman";
            line-height: 13px;
        }

        .ft16 {
            font: 1px "Times New Roman";
            line-height: 7px;
        }

        .ft17 {
            font: 1px "Times New Roman";
            line-height: 6px;
        }

        .ft18 {
            font: 1px "Times New Roman";
            line-height: 18px;
        }

        .ft19 {
            font: 1px "Times New Roman";
            line-height: 11px;
        }

        .ft20 {
            font: italic 16px "Times New Roman";
            color: #002060;
            line-height: 18px;
        }

        .ft21 {
            font: 16px "Times New Roman";
            color: #002060;
            line-height: 18px;
        }

        .ft22 {
            font: 1px "Times New Roman";
            line-height: 10px;
        }

        .ft23 {
            font: 1px "Times New Roman";
            line-height: 9px;
        }

        .ft24 {
            font: 1px "Times New Roman";
            line-height: 17px;
        }

        .ft25 {
            font: 16px "Times New Roman";
            color: #002060;
            line-height: 17px;
        }

        .ft26 {
            font: bold 16px "Times New Roman";
            color: #002060;
            line-height: 19px;
        }

        .ft27 {
            font: italic 15px "Times New Roman";
            color: #002060;
            line-height: 17px;
        }

        .ft28 {
            font: 15px "Times New Roman";
            color: #002060;
            line-height: 17px;
        }

        .ft29 {
            font: 15px Calibri;
            line-height: 18px;
        }

        .ft30 {
            font: 15px "Times New Roman";
            color: #002060;
            margin-left: 5px;
            line-height: 18px;
        }

        .ft31 {
            font: italic 15px "Times New Roman";
            color: #002060;
            line-height: 18px;
        }

        .ft32 {
            font: 15px "Times New Roman";
            color: #002060;
            line-height: 18px;
        }

        .ft33 {
            font: bold 15px "Times New Roman";
            color: #002060;
            line-height: 17px;
        }

        .ft34 {
            font: bold 14px "Times New Roman";
            color: #002060;
            line-height: 17px;
        }

        .ft35 {
            font: 15px "Times New Roman";
            color: #17365d;
            margin-left: 5px;
            line-height: 17px;
        }

        .ft36 {
            font: bold 15px "Times New Roman";
            text-decoration: underline;
            line-height: 17px;
        }

        .ft37 {
            font: 15px "Times New Roman";
            color: #17365d;
            margin-left: 4px;
            line-height: 17px;
        }

        .ft38 {
            font: 15px "Times New Roman";
            color: #17365d;
            margin-left: 3px;
            line-height: 18px;
        }

        .ft39 {
            font: 15px "Times New Roman";
            color: #17365d;
            line-height: 18px;
        }

        .ft40 {
            font: 15px "Times New Roman";
            color: #17365d;
            margin-left: 4px;
            line-height: 19px;
        }

        .ft41 {
            font: 15px "Times New Roman";
            color: #17365d;
            line-height: 19px;
        }

        .ft42 {
            font: 15px "Times New Roman";
            color: #17365d;
            margin-left: 4px;
            line-height: 18px;
        }

        .ft43 {
            font: bold 14px "Times New Roman";
            color: #17365d;
            line-height: 17px;
        }

        .ft44 {
            font: bold 15px "Times New Roman";
            text-decoration: underline;
            color: #17365d;
            margin-left: 5px;
            line-height: 17px;
        }

        .ft45 {
            font: bold 15px "Times New Roman";
            text-decoration: underline;
            color: #17365d;
            line-height: 17px;
        }

        .ft46 {
            font: bold 15px "Times New Roman";
            color: #17365d;
            line-height: 17px;
        }

        .ft47 {
            font: 15px "Times New Roman";
            color: #17365d;
            margin-left: 3px;
            line-height: 17px;
        }

        .p0 {
            text-align: left;
            padding-left: 36px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .p1 {
            text-align: left;
            padding-left: 77px;
            margin-top: 5px;
            margin-bottom: 0;
        }

        .p2 {
            text-align: left;
            padding-left: 90px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p3 {
            text-align: left;
            padding-left: 127px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p4 {
            text-align: left;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p5 {
            text-align: left;
            padding-left: 184px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p6 {
            text-align: left;
            padding-left: 172px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .p7 {
            text-align: left;
            padding-left: 226px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p8 {
            text-align: left;
            padding-left: 231px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p9 {
            text-align: left;
            padding-left: 39px;
            margin-top: 21px;
            margin-left: 12%;
        }

        .p10 {
            text-align: left;
            padding-left: 135px;
            margin-top: 10px;
            margin-bottom: 0;
        }

        .p11 {
            text-align: left;
            padding-left: 155px;
            margin-top: 1px;
            margin-bottom: 0;
        }

        .p12 {
            text-align: left;
            padding-left: 39px;
            margin-top: 15px;
            margin-bottom: 0;
        }

        .p13 {
            text-align: left;
            margin-top: 22px;
            margin-bottom: 0;
        }

        .p14 {
            text-align: left;
            padding-left: 3px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .p15 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
        }

        .p16 {
            text-align: left;
            padding-left: 13px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p17 {
            text-align: left;
            padding-left: 34px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p18 {
            text-align: left;
            padding-left: 8px;
            margin-top: 16px;
            margin-bottom: 0;
        }

        .p19 {
            text-align: right;
            padding-right: 6px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p20 {
            text-align: left;
            padding-left: 6px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p21 {
            text-align: right;
            padding-right: 30px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p22 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p23 {
            text-align: left;
            padding-left: 18px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p24 {
            text-align: left;
            padding-left: 15px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p25 {
            text-align: left;
            padding-left: 19px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p26 {
            text-align: left;
            padding-left: 5px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p27 {
            text-align: left;
            padding-left: 33px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p28 {
            text-align: right;
            padding-right: 2px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p29 {
            text-align: left;
            padding-left: 10px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p30 {
            text-align: left;
            padding-left: 1px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p31 {
            text-align: center;
            padding-right: 7px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p32 {
            text-align: left;
            padding-left: 56px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p33 {
            text-align: left;
            padding-left: 14px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p34 {
            text-align: center;
            padding-right: 61px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p35 {
            text-align: center;
            padding-right: 6px;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p36 {
            text-align: left;
            padding-left: 433px;
            margin-top: 19px;
            margin-bottom: 0;
        }

        .p37 {
            text-align: left;
            padding-left: 24px;
            margin-top: 18px;
            margin-bottom: 0;
        }

        .p38 {
            text-align: right;
            margin-top: 0;
            margin-bottom: 0;
            white-space: nowrap;
        }

        .p39 {
            text-align: left;
            padding-left: 737px;
            margin-top: 12px;
            margin-bottom: 0;
        }

        .p40 {
            text-align: left;
            padding-left: 48px;
            padding-right: 610px;
            margin-top: 0;
            margin-bottom: 0;
            text-indent: 9px;
        }

        .p41 {
            text-align: left;
            padding-left: 48px;
            margin-top: 7px;
            margin-bottom: 0;
        }

        .p42 {
            text-align: left;
            padding-left: 48px;
            margin-top: 22px;
            margin-bottom: 0;
        }

        .p43 {
            text-align: left;
            padding-left: 48px;
            margin-top: 25px;
            margin-bottom: 0;
        }

        .p44 {
            text-align: left;
            padding-left: 48px;
            margin-top: 17px;
            margin-bottom: 0;
        }

        .p45 {
            text-align: left;
            padding-left: 48px;
            margin-top: 16px;
            margin-bottom: 0;
        }

        .p46 {
            text-align: left;
            padding-left: 57px;
            margin-top: 20px;
            margin-bottom: 0;
        }

        .p47 {
            text-align: left;
            padding-left: 57px;
            margin-top: 21px;
            margin-bottom: 0;
        }

        .p48 {
            text-align: left;
            padding-left: 57px;
            margin-top: 22px;
            margin-bottom: 0;
        }

        .p49 {
            text-align: left;
            padding-left: 72px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p50 {
            text-align: left;
            padding-left: 72px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p51 {
            text-align: left;
            padding-left: 72px;
            padding-right: 56px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p52 {
            text-align: left;
            padding-left: 72px;
            padding-right: 104px;
            margin-top: 5px;
            margin-bottom: 0;
        }

        .p53 {
            text-align: left;
            padding-left: 72px;
            padding-right: 52px;
            margin-top: 5px;
            margin-bottom: 0;
        }

        .p54 {
            text-align: left;
            padding-left: 72px;
            padding-right: 50px;
            margin-top: 4px;
            margin-bottom: 0;
            text-indent: 4px;
        }

        .p55 {
            text-align: left;
            padding-left: 72px;
            padding-right: 57px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p56 {
            text-align: left;
            padding-left: 72px;
            padding-right: 85px;
            margin-top: 1px;
            margin-bottom: 0;
        }

        .p57 {
            text-align: left;
            padding-left: 72px;
            padding-right: 64px;
            margin-top: 3px;
            margin-bottom: 0;
            text-indent: 4px;
        }

        .p58 {
            text-align: left;
            padding-left: 72px;
            padding-right: 87px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p59 {
            text-align: right;
            padding-right: 48px;
            margin-top: 11px;
            margin-bottom: 0;
        }

        .p60 {
            text-align: left;
            padding-left: 57px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .p61 {
            text-align: left;
            padding-left: 72px;
            padding-right: 49px;
            margin-top: 2px;
            margin-bottom: 0;
            text-indent: 28px;
        }

        .p62 {
            text-align: left;
            padding-left: 57px;
            margin-top: 7%;
            margin-bottom: 0;
        }

        .p63 {
            text-align: left;
            padding-left: 48px;
            padding-right: 68px;
            margin-top: 22px;
            margin-bottom: 0;
            text-indent: 52px;
        }

        .p64 {
            text-align: left;
            padding-left: 48px;
            margin-top: 5%;
            margin-bottom: 0;
        }

        .p65 {
            text-align: left;
            padding-left: 48px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p66 {
            text-align: left;
            padding-left: 100px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p67 {
            text-align: left;
            padding-left: 96px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p68 {
            text-align: left;
            padding-left: 96px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p69 {
            text-align: left;
            padding-left: 96px;
            padding-right: 110px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p70 {
            text-align: left;
            padding-left: 100px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p71 {
            text-align: left;
            padding-left: 148px;
            margin-top: 2px;
            margin-bottom: 0;
        }

        .p72 {
            text-align: left;
            padding-left: 148px;
            margin-top: 3px;
            margin-bottom: 0;
        }

        .p73 {
            text-align: right;
            padding-right: 48px;
            margin-top: 17px;
            margin-bottom: 0;
        }

        .p74 {
            text-align: left;
            padding-left: 100px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .p75 {
            text-align: right;
            padding-right: 48px;
            margin-top: 909px;
            margin-bottom: 0;
        }

        .td0 {
            padding: 0;
            margin: 0;
            width: 51px;
            vertical-align: bottom;
        }

        .td1 {
            padding: 0;
            margin: 0;
            width: 219px;
            vertical-align: bottom;
        }

        .td2 {
            padding: 0;
            margin: 0;
            width: 77px;
            vertical-align: bottom;
        }

        .td3 {
            border-right: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 4px;
            vertical-align: bottom;
        }

        .td4 {
            border-right: #000 1px solid;
            border-top: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 37px;
            vertical-align: bottom;
        }

        .td5 {
            border-top: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 19px;
            vertical-align: bottom;
        }

        .td6 {
            border-right: #000 1px solid;
            border-top: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 18px;
            vertical-align: bottom;
        }

        .td7 {
            border-top: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 10px;
            vertical-align: bottom;
        }

        .td8 {
            border-right: #000 1px solid;
            border-top: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 28px;
            vertical-align: bottom;
        }

        .td9 {
            border-right: #000 1px solid;
            border-top: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 38px;
            vertical-align: bottom;
        }

        .td10 {
            padding: 0;
            margin: 0;
            width: 34px;
            vertical-align: bottom;
        }

        .td11 {
            padding: 0;
            margin: 0;
            width: 39px;
            vertical-align: bottom;
        }

        .td12 {
            padding: 0;
            margin: 0;
            width: 38px;
            vertical-align: bottom;
        }

        .td13 {
            padding: 0;
            margin: 0;
            width: 28px;
            vertical-align: bottom;
        }

        .td14 {
            padding: 0;
            margin: 0;
            width: 5px;
            vertical-align: bottom;
        }

        .td15 {
            padding: 0;
            margin: 0;
            width: 19px;
            vertical-align: bottom;
        }

        .td16 {
            padding: 0;
            margin: 0;
            width: 15px;
            vertical-align: bottom;
        }

        .td17 {
            border-right: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 3px;
            vertical-align: bottom;
        }

        .td18 {
            padding: 0;
            margin: 0;
            width: 10px;
            vertical-align: bottom;
        }

        .td19 {
            padding: 0;
            margin: 0;
            width: 24px;
            vertical-align: bottom;
        }

        .td20 {
            padding: 0;
            margin: 0;
            width: 29px;
            vertical-align: bottom;
        }

        .td21 {
            padding: 0;
            margin: 0;
            width: 4px;
            vertical-align: bottom;
        }

        .td22 {
            padding: 0;
            margin: 0;
            width: 21px;
            vertical-align: bottom;
        }

        .td23 {
            padding: 0;
            margin: 0;
            width: 13px;
            vertical-align: bottom;
        }

        .td24 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 28px;
            vertical-align: bottom;
        }

        .td25 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 5px;
            vertical-align: bottom;
        }

        .td26 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 4px;
            vertical-align: bottom;
        }

        .td27 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 19px;
            vertical-align: bottom;
        }

        .td28 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 15px;
            vertical-align: bottom;
        }

        .td29 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 3px;
            vertical-align: bottom;
        }

        .td30 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 10px;
            vertical-align: bottom;
        }

        .td31 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 24px;
            vertical-align: bottom;
        }

        .td32 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 29px;
            vertical-align: bottom;
        }

        .td33 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 4px;
            vertical-align: bottom;
        }

        .td34 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 21px;
            vertical-align: bottom;
        }

        .td35 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 13px;
            vertical-align: bottom;
        }

        .td36 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 34px;
            vertical-align: bottom;
        }

        .td37 {
            border-right: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 27px;
            vertical-align: bottom;
        }

        .td38 {
            border-right: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 18px;
            vertical-align: bottom;
        }

        .td39 {
            border-right: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 9px;
            vertical-align: bottom;
        }

        .td40 {
            border-right: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 28px;
            vertical-align: bottom;
        }

        .td41 {
            border-right: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 20px;
            vertical-align: bottom;
        }

        .td42 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 27px;
            vertical-align: bottom;
        }

        .td43 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 18px;
            vertical-align: bottom;
        }

        .td44 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 9px;
            vertical-align: bottom;
        }

        .td45 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 28px;
            vertical-align: bottom;
        }

        .td46 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 20px;
            vertical-align: bottom;
        }

        .td47 {
            padding: 0;
            margin: 0;
            width: 231px;
            vertical-align: bottom;
        }

        .td48 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 39px;
            vertical-align: bottom;
        }

        .td49 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 12px;
            vertical-align: bottom;
        }

        .td50 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 27px;
            vertical-align: bottom;
        }

        .td51 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 38px;
            vertical-align: bottom;
        }

        .td52 {
            border-left: #000 1px solid;
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 37px;
            vertical-align: bottom;
        }

        .td53 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 26px;
            vertical-align: bottom;
        }

        .td54 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 37px;
            vertical-align: bottom;
        }

        .td55 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 38px;
            vertical-align: bottom;
        }

        .td56 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 14px;
            vertical-align: bottom;
        }

        .td57 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 23px;
            vertical-align: bottom;
        }

        .td58 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 12px;
            vertical-align: bottom;
        }

        .td59 {
            border-right: #000 1px solid;
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 33px;
            vertical-align: bottom;
        }

        .td60 {
            padding: 0;
            margin: 0;
            width: 193px;
            vertical-align: bottom;
        }

        .td61 {
            padding: 0;
            margin: 0;
            width: 154px;
            vertical-align: bottom;
        }

        .td62 {
            padding: 0;
            margin: 0;
            width: 0;
            vertical-align: bottom;
        }

        .td63 {
            padding: 0;
            margin: 0;
            width: 31px;
            vertical-align: bottom;
        }

        .td64 {
            padding: 0;
            margin: 0;
            width: 126px;
            vertical-align: bottom;
        }

        .td65 {
            padding: 0;
            margin: 0;
            width: 133px;
            vertical-align: bottom;
        }

        .td66 {
            padding: 0;
            margin: 0;
            width: 127px;
            vertical-align: bottom;
        }

        .td67 {
            padding: 0;
            margin: 0;
            width: 118px;
            vertical-align: bottom;
        }

        .td68 {
            padding: 0;
            margin: 0;
            width: 116px;
            vertical-align: bottom;
        }

        .td69 {
            padding: 0;
            margin: 0;
            width: 80px;
            vertical-align: bottom;
        }

        .td70 {
            padding: 0;
            margin: 0;
            width: 35px;
            vertical-align: bottom;
        }

        .td71 {
            padding: 0;
            margin: 0;
            width: 91px;
            vertical-align: bottom;
        }

        .td72 {
            padding: 0;
            margin: 0;
            width: 259px;
            vertical-align: bottom;
        }

        .td73 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 66px;
            vertical-align: bottom;
        }

        .td74 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 91px;
            vertical-align: bottom;
        }

        .td75 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 133px;
            vertical-align: bottom;
        }

        .td76 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 127px;
            vertical-align: bottom;
        }

        .td77 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 118px;
            vertical-align: bottom;
        }

        .td78 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 116px;
            vertical-align: bottom;
        }

        .td79 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 80px;
            vertical-align: bottom;
        }

        .td80 {
            padding: 0;
            margin: 0;
            width: 66px;
            vertical-align: bottom;
        }

        .td81 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 31px;
            vertical-align: bottom;
        }

        .td82 {
            border-bottom: #000 1px solid;
            padding: 0;
            margin: 0;
            width: 35px;
            vertical-align: bottom;
        }

        .td83 {
            padding: 0;
            margin: 0;
            width: 192px;
            vertical-align: bottom;
        }

        .td84 {
            padding: 0;
            margin: 0;
            width: 288px;
            vertical-align: bottom;
        }

        .td85 {
            padding: 0;
            margin: 0;
            width: 87px;
            vertical-align: bottom;
        }

        .td86 {
            padding: 0;
            margin: 0;
            width: 246px;
            vertical-align: bottom;
        }

        .td87 {
            padding: 0;
            margin: 0;
            width: 85px;
            vertical-align: bottom;
        }

        .td88 {
            padding: 0;
            margin: 0;
            width: 153px;
            vertical-align: bottom;
        }

        .td89 {
            padding: 0;
            margin: 0;
            width: 143px;
            vertical-align: bottom;
        }

        .td90 {
            padding: 0;
            margin: 0;
            width: 135px;
            vertical-align: bottom;
        }

        .td91 {
            padding: 0;
            margin: 0;
            width: 96px;
            vertical-align: bottom;
        }

        .td92 {
            padding: 0;
            margin: 0;
            width: 432px;
            vertical-align: bottom;
        }

        .td93 {
            padding: 0;
            margin: 0;
            width: 169px;
            vertical-align: bottom;
        }

        .td94 {
            padding: 0;
            margin: 0;
            width: 212px;
            vertical-align: bottom;
        }

        .tr0 {
            height: 35px;
        }

        .tr1 {
            height: 22px;
        }

        .tr2 {
            height: 21px;
        }

        .tr3 {
            height: 13px;
        }

        .tr4 {
            height: 74px;
        }

        .tr5 {
            height: 7px;
        }

        .tr6 {
            height: 6px;
        }

        .tr7 {
            height: 40px;
        }

        .tr8 {
            height: 39px;
        }

        .tr9 {
            height: 27px;
        }

        .tr10 {
            height: 19px;
        }

        .tr11 {
            height: 18px;
        }

        .tr12 {
            height: 44px;
        }

        .tr13 {
            height: 43px;
        }

        .tr14 {
            height: 11px;
        }

        .tr15 {
            height: 55px;
        }

        .tr16 {
            height: 10px;
        }

        .tr17 {
            height: 9px;
        }

        .tr18 {
            height: 45px;
        }

        .tr19 {
            height: 38px;
        }

        .tr20 {
            height: 36px;
        }

        .tr21 {
            height: 37px;
        }

        .tr22 {
            height: 26px;
        }

        .tr23 {
            height: 17px;
        }

        .t0 {
            width: 769px;
            font: 16px "Times New Roman";
            color: #002060;
        }

        .t1 {
            width: 731px;
            margin-left: 16px;
            margin-top: 33px;
            font: 16px "Times New Roman";
            color: #002060;
        }

        .t2 {
            width: 567px;
            margin-left: 24px;
            margin-top: 37px;
            font: 16px "Times New Roman";
            color: #002060;
        }

        .t3 {
            width: 331px;
            margin-left: 33px;
            margin-top: 42px;
            font: 15px "Times New Roman";
            color: #002060;
        }

        .t4 {
            width: 654px;
            margin-left: 96px;
            margin-top: 9px;
            font: bold 15px "Times New Roman";
            color: #002060;
        }

        .t5 {
            width: 601px;
            margin-left: 96px;
            margin-top: 41px;
            font: bold 15px "Times New Roman";
            color: #17365d;
        }

        .t6 {
            width: 644px;
            margin-left: 96px;
            margin-top: 42px;
            font: bold 15px "Times New Roman";
            color: #17365d;
        }

        td {
            color: #17365d;
            line-height: 2em;
        }
    </style>
    <style>
        .leftcont {
            width: 80%;
            float: left;
        }

        .rightcont {
            width: 20%;
            float: right;
        }

        .p10.ft6 {
            padding-left: 33% !important;
        }

        .p11.ft7 {
            padding-left: 49% !important;
        }

        .p9 {
            text-align: left;
            padding-left: 70px;
            margin-top: 21px;
            margin-bottom: 0;
        }

        td {
            width: 1%;
        }

        ft1 {
            font: bold 13px "Times New Roman";
            color: #17365d;
            line-height: 20px;
        }

        .ft3 {
            font: 14px "Times New Roman";
            color: #17365d;
            line-height: 20px;
        }

        .ft2 {
            font: 13px "Times New Roman";
            color: #17365d;
            line-height: 20px;
        }

        .p60 {
            text-align: left;
            padding-left: 57px;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 1em;
        }

        .p62 {
            text-align: left;
            padding-left: 57px;
            margin-top: 7%;
            margin-bottom: 0;
            padding-bottom: 10px;
        }

        .p64.ft46 {
            text-align: left;
            padding-left: 48px;
            margin-top: 5%;
            margin-bottom: 0;
            padding-bottom: 6px;
        }
        tbody {
    border-top: none;
}
@media only screen and (min-width: 64.063em){
.large-7 {
    width: 75%;
}
}
.column.medium-centered:last-child, .columns.medium-centered:last-child{
    background-color: white;
}


@media screen and (max-width: 600px){
    #page_1 {
    position: relative;
    overflow: hidden;
    margin: 0px;
    padding: 0;
    border: none;
    width: 100%;
}
#page_1 #id1_2 {
    border: none;
    margin: 0px;
    padding: 0;
    border: none;
    width: 100%;
    overflow: hidden;
    margin-top: 6%;
}
}
.btnform {
    background-color: #192f59;
    text-decoration: none!important;
    color: white!important;
    padding: 8px;
}
.controlbuttons{
    margin: 3% 0px;
    float: right;
}
#page_1 #id1_2 {
    margin-top: 6%;
}
@media screen and (max-width:600px){
    .propic{
    max-width: 70px!important;
}
}
.p-subjects{
    border-bottom: 1px solid gray;
}
    </style>

    <div class="contpage">
        <div id="page_1">
            <div id="id1_2">
                <table align="CENTER" class="tableBorder" border="0" width="98%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="1%">
                                <table align="CENTER" border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <img class="propic" src="<%= userdata.app_profilepic%>" alt="" style="float: right; position: absolute; right: 0;max-width: 100px;">
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              1. Name of the Candidate 
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_name%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              2. Father Name
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_fathername%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              3. Mother Name
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_mothername%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              4. Father Occupation
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_fatheroccupation%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              5. Mother Occupation
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_motheroccupation%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              6. Address for Communication
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_presentadd%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              7. Email Address
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_emailaddress%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              8. Date of Birth
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_birth%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              9. Aadhar No
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_aadharno%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              10. Religion
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_religion%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              11. Community
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_caste%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              12. Nationality
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_nationality%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              13. Marital Status
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_maritalstatus%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              14. Course
                                           </td>
                                           <td width="25%" class="reportdarkrow" align="LEFT">
                                              : <%= userdata.app_course%>
                                           </td>
                                        </tr>
                                        <tr>
                                           <td width="30%" class="reportlightrow" align="LEFT">
                                              15. Qualifying Examination Completed
                                           </td>
                                        </tr>
                                        <tr>
                                            <table style="background-color: white; border: 1px solid gray;" class="qualification-table">
                                                <tbody>
                                                    <tr>
                                                        <th style="border-right: 1px solid gray;text-align: center;">Exam Passed</th>
                                                        <th style="border-right: 1px solid gray;text-align: center;">Year of Passing</th>
                                                        <th style="border-right: 1px solid gray;text-align: center;">Name of the school</th>
                                                        <th style="border-right: 1px solid gray;text-align: center;">Board</th>
                                                        <th style="border-right: 1px solid gray;text-align: center;">Subjects</th>
                                                        <th style="border-right: 1px solid gray;text-align: center;">Marks obtained</th>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-right: 1px solid gray;vertical-align: baseline;"><p style="color: black;font-size: 20px;top: 0;"><%= userdata.app_qualifyingexam[0].app_exam_passed %></p></td>
                                                        <td style="border-right: 1px solid gray;vertical-align: baseline;"><p style="color: black;font-size: 20px;top: 0;"><%= userdata.app_qualifyingexam[1].app_yearofpassing %></p></td>
                                                        <td style="border-right: 1px solid gray;vertical-align: baseline;"><p style="color: black;font-size: 20px;top: 0;"><%= userdata.app_qualifyingexam[2].app_schoolname %></p></td>
                                                        <td style="border-right: 1px solid gray;vertical-align: baseline;"><p style="color: black;font-size: 20px;top: 0;"><%= userdata.app_qualifyingexam[3].app_board %></p></td>
                                                        <td style="border-right: 1px solid gray;">
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;">English</p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;">Physics</p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;">Chemistry</p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;">Biology</p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;">Botany</p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;">Zoology</p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;font-weight: bold;">Total</p>
                                                        </td>
                                                        <td style="border-right: 1px solid gray;">
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;"><%= userdata.app_qualifyingexam[4].reg_marks[0].english %></p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;"><%= userdata.app_qualifyingexam[4].reg_marks[1].physics %></p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;"><%= userdata.app_qualifyingexam[4].reg_marks[2].chemistry %></p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;"><%= userdata.app_qualifyingexam[4].reg_marks[3].biology %></p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;"><%= userdata.app_qualifyingexam[4].reg_marks[4].botany %></p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;"><%= userdata.app_qualifyingexam[4].reg_marks[5].zoology %></p>
                                                            <p style="color: black;font-size: 20px;border-bottom: 1px solid black;margin-bottom: 5px;"><%= userdata.app_qualifyingexam[4].reg_marks[6].total %></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                     
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="controlbuttons">
                <a href="/edit-application/<%= userdata.app_tempreg%>" class="btnform">Edit Application</a>
                <a href="/payment/<%= userdata.app_tempreg %>" class="btnform">Continue</a>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>